<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_WINFORM_QUANLYSINHVIEN.Properties.Settings.DB_LoginConnectionString"
            connectionString="Data Source=DESKTOP-MKS1NQ8\SQLEXPRESS;Initial Catalog=DB_Login;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>